.events {
    &__main-header {
        @media screen and (width >= 1920px) {
            margin: calc(138px + 147px) 0 150px;
        }
        @media screen and (max-width: 1920px) {
            margin: calc(138px + 111px) 0 130px;
        }
        @media screen and (max-width: 1340px) {
            margin: calc(91px + 111px) 0 100px;
        }
        @media screen and (max-width: 768px) {
            margin: calc(80px + 70px) 0;
        }
    }

    &__articles {
        position: relative;
        display: grid;
    
        @media screen and (width >= 1920px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 60px;
            grid-row-gap: 120px;
            padding: 0 292px;
        }
        @media screen and (max-width: 1920px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 40px;
            grid-row-gap: 100px;
            padding: 0 39px;
        }
        @media screen and (max-width: 1340px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 80px;
            padding: 0 30px;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 60px;
            padding: 0 20px;
        }
    }

    &__drop-down {
        display: flex;
        flex-direction: column;
    
        align-items: center;
        gap: 18px;
        cursor: pointer;
        max-width: 128px;
        margin: 70px auto 100px;
    }
}