.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    z-index: 100;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(222, 222, 222, 0.5);
        @supports (backdrop-filter: blur(10px)){
        backdrop-filter: blur(10px);
        background-color: rgba(222, 222, 222, 0.5);;
    }
    }

    &_container{
    .container();
    position: relative;
    display: flex;
	align-items: center;
    justify-content: space-between;
    }

    &__logo {
        width: 202px;
        height: 147px;
        display: inline-block;
    }
    
    &__nav{
        display: inline-block;
        display: flex;
        flex-direction: row;
    }
    
    &__nav-link {
        color: #000000;
        margin: 0 25px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-decoration: none;
        text-wrap: nowrap;
    }
    
    &__buttonuser {
        border: 1px solid var(--1, @black);
        color: #1F1E1E;
        background-color: transparent;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        padding: 15px 40px;
    }
}